In [56]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [55]:
df1_path = "train.csv"
#df2_path = "test.csv"

In [12]:
df1 = pd.read_csv(df1_path)
#df2 = pd.read_csv(df2_path)
#df = df1.append(df2)
df =df1

In [13]:
print(df.shape)
df.head()

(19715327, 12)

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
2,00RL8Z82B2Z1,aff3928535f48,1541037522,3,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
3,00RL8Z82B2Z1,aff3928535f48,1541037532,4,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
4,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN

In [24]:
def make_encoding_label_dict(col_unique):
    encoded_dict = {}
    for idx, unique in enumerate(col_unique):
        encoded_dict[unique] = idx + 1

    return encoded_dict


# get new encoding result
def get_newcode(key, label_dict):
    com_len = len(label_dict)
    if key == np.nan:
        return
    else:
        if key in label_dict:
            return label_dict[key]
        else:
            return com_len + 1

In [ ]:
df = df.fillna(value = '0')

In [19]:
encoded_action_dict = make_encoding_label_dict(df.action_type.value_counts().index.tolist())

In [50]:
encoded_st_dict = make_encoding_label_dict(df.step.value_counts().index.tolist())

In [21]:
encoded_session_dict = make_encoding_label_dict(df.session_id.value_counts().index.tolist())

In [25]:
encoded_city_dict = make_encoding_label_dict(df.city.value_counts().index.tolist())

In [26]:
df = df[['session_id', 'step', 'action_type', 'reference', 'city']]

In [28]:
encoded_ref_dict = make_encoding_label_dict(df.reference.value_counts().index.tolist())

In [29]:
encoded_ref_dict

{'interaction sort button': 1,
 'price only': 2,
 'Sort by Price': 3,
 'Hotel': 4,
 '5 Star': 5,
 'price and recommended': 6,
 'Best Value': 7,
 'Resort': 8,
 '4 Star': 9,
 'Hostal (ES)': 10,
 'Motel': 11,
 'Focus on Distance': 12,
 '3 Star': 13,
 'Free WiFi (Combined)': 14,
 'Very Good Rating': 15,
 'Breakfast Included': 16,
 'Excellent Rating': 17,
 'House / Apartment': 18,
 'Swimming Pool (Combined Filter)': 19,
 'Car Park': 20,
 'Good Rating': 21,
 'distance only': 22,
 'Sort By Distance': 23,
 'Serviced Apartment': 24,
 'distance and recommended': 25,
 'rating and recommended': 26,
 'Focus on Rating': 27,
 'Air Conditioning': 28,
 'Spa (Wellness Facility)': 29,
 'rating only': 30,
 'Sort By Rating': 31,
 '1649739': 32,
 '2 Star': 33,
 'London, United Kingdom': 34,
 '8796': 35,
 '2053822': 36,
 'Pet Friendly': 37,
 'Paris, France': 38,
 'unknown': 39,
 '104802': 40,
 'New York, USA': 41,
 'Satisfactory Rating': 42,
 '100227': 43,
 'All Inclusive (Upon Inquiry)': 44,
 '36455': 45,
 '1811137': 46,
 '3148916': 47,
 '100224': 48,
 'our recommendations': 49,
 'Sort By Popularity': 50,
 '948643': 51,
 '2326194': 52,
 '8621': 53,
 'Amsterdam, Netherlands': 54,
 'Restaurant': 55,
 '2519958': 56,
 '34506': 57,
 '496141': 58,
 '67361': 59,
 '32676': 60,
 '8586': 61,
 '42378': 62,
 '8618': 63,
 '962211': 64,
 '1 Star': 65,
 '8589': 66,
 '107154': 67,
 '3248926': 68,
 '14243': 69,
 '34464': 70,
 '499361': 71,
 '8561': 72,
 '1321131': 73,
 '34366': 74,
 '6230236': 75,
 'Las Vegas, USA': 76,
 '104985': 77,
 '109324': 78,
 '34429': 79,
 '93683': 80,
 '477846': 81,
 '9774742': 82,
 '1153426': 83,
 '3818266': 84,
 '448986': 85,
 '102080': 86,
 '6016004': 87,
 'Kitchen': 88,
 'Berlin, Germany': 89,
 '5722432': 90,
 '8640': 91,
 '478616': 92,
 '1345387': 93,
 '2594544': 94,
 '503361': 95,
 '43174': 96,
 '2759718': 97,
 '684821': 98,
 '34474': 99,
 '921237': 100,
 'Barcelona, Spain': 101,
 '1204400': 102,
 '745041': 103,
 '2196150': 104,
 '42793': 105,
 '3369338': 106,
 '2192296': 107,
 '3148414': 108,
 'Rome, Italy': 109,
 '1455251': 110,
 '2085906': 111,
 '67445': 112,
 '1890753': 113,
 'Cancun, Mexico': 114,
 '2547593': 115,
 '3921330': 116,
 '4871050': 117,
 '109323': 118,
 '8551': 119,
 '95685': 120,
 '2517193': 121,
 '477936': 122,
 '8577': 123,
 'São Paulo, Brazil': 124,
 '5174012': 125,
 '8564': 126,
 '34437': 127,
 '3218556': 128,
 '5174478': 129,
 '8243': 130,
 '149060': 131,
 '2784325': 132,
 '326906': 133,
 '1710829': 134,
 '128516': 135,
 '32674': 136,
 '5002942': 137,
 '34337': 138,
 'Dubai, United Arab Emirates': 139,
 '48650': 140,
 '3147401': 141,
 '104905': 142,
 '117545': 143,
 '2450306': 144,
 '34417': 145,
 'Madrid, Spain': 146,
 '3480558': 147,
 '9773310': 148,
 '1668387': 149,
 '109351': 150,
 '147209': 151,
 '326961': 152,
 '5055268': 153,
 '4415314': 154,
 '4203978': 155,
 'Prague, Czech Republic': 156,
 '493421': 157,
 '8588': 158,
 '479176': 159,
 '1543335': 160,
 '109326': 161,
 '894539': 162,
 '1668443': 163,
 'Orlando, USA': 164,
 'Reception (24/7)': 165,
 '2621838': 166,
 '2195678': 167,
 '8744': 168,
 'Tokyo Disneyland': 169,
 '519611': 170,
 '312841': 171,
 '97610': 172,
 '100222': 173,
 '1668645': 174,
 '5963164': 175,
 '8595': 176,
 '3811810': 177,
 '6953508': 178,
 '37714': 179,
 '34371': 180,
 '42276': 181,
 '44208': 182,
 '1244593': 183,
 '1208946': 184,
 '155753': 185,
 '42750': 186,
 '34343': 187,
 '37539': 188,
 '42792': 189,
 '2032119': 190,
 '421381': 191,
 '1711789': 192,
 '982755': 193,
 '3378782': 194,
 '2152342': 195,
 '2063126': 196,
 '740596': 197,
 '393591': 198,
 '4504514': 199,
 '1810141': 200,
 '5763948': 201,
 '1668523': 202,
 '821211': 203,
 '989659': 204,
 '46985': 205,
 '1400738': 206,
 'Bed & Breakfast': 207,
 'Miami Beach, USA': 208,
 '78562': 209,
 '1321090': 210,
 '153550': 211,
 '722186': 212,
 '2312102': 213,
 '2296504': 214,
 '34393': 215,
 '14610': 216,
 '2578276': 217,
 '109317': 218,
 '42996': 219,
 '5155978': 220,
 '887399': 221,
 '2258650': 222,
 '2591228': 223,
 '100221': 224,
 '1244689': 225,
 '4493250': 226,
 '693816': 227,
 '2381174': 228,
 '1285525': 229,
 '664366': 230,
 '128515': 231,
 '34431': 232,
 '12707': 233,
 '2097018': 234,
 '100302': 235,
 'Florianópolis, Brazil': 236,
 '61700': 237,
 '107015': 238,
 '42620': 239,
 'Vienna, Austria': 240,
 '5008004': 241,
 '8815112': 242,
 '2368268': 243,
 '34381': 244,
 'Guest House': 245,
 '2884070': 246,
 '5709140': 247,
 '1473305': 248,
 '2023759': 249,
 '42334': 250,
 '34467': 251,
 '34350': 252,
 '101409': 253,
 '111534': 254,
 '8568': 255,
 '54953': 256,
 '326886': 257,
 '488501': 258,
 '43099': 259,
 '48976': 260,
 '3497814': 261,
 '5594652': 262,
 '5742': 263,
 '2924213': 264,
 '112158': 265,
 '104639': 266,
 '3184674': 267,
 '904927': 268,
 '120772': 269,
 '7773394': 270,
 '3367616': 271,
 '104513': 272,
 '1297526': 273,
 'Rio de Janeiro, Brazil': 274,
 '34504': 275,
 '2753406': 276,
 '6002460': 277,
 '3810222': 278,
 '6919074': 279,
 'Buenos Aires, Argentina': 280,
 '18427': 281,
 '623286': 282,
 '34342': 283,
 '2179366': 284,
 '477836': 285,
 '519061': 286,
 '502066': 287,
 '1326068': 288,
 '1352530': 289,
 '112151': 290,
 '34448': 291,
 '105015': 292,
 '5653536': 293,
 '4816538': 294,
 '2593971': 295,
 '34369': 296,
 '3549206': 297,
 '2828701': 298,
 '6452448': 299,
 '104632': 300,
 '512066': 301,
 '8818': 302,
 '2505094': 303,
 '8400372': 304,
 '34435': 305,
 '8809': 306,
 '3374339': 307,
 '5962870': 308,
 '42494': 309,
 '42446': 310,
 '1167514': 311,
 '2248510': 312,
 '352416': 313,
 '1175598': 314,
 '2037903': 315,
 '4727496': 316,
 '4626720': 317,
 '2013089': 318,
 '8573': 319,
 '2552990': 320,
 '34423': 321,
 '3205032': 322,
 '997745': 323,
 '97505': 324,
 '2165594': 325,
 '503926': 326,
 '808301': 327,
 '152154': 328,
 '46272': 329,
 '104867': 330,
 '100632': 331,
 '3896402': 332,
 '3515296': 333,
 '104902': 334,
 '100230': 335,
 '913005': 336,
 '326846': 337,
 'Bangkok, Thailand': 338,
 '929999': 339,
 '132254': 340,
 '894179': 341,
 '42363': 342,
 'Malacca, Malaysia': 343,
 '1104378': 344,
 'Milan, Italy': 345,
 '42952': 346,
 '722206': 347,
 '349051': 348,
 '3132670': 349,
 '1351828': 350,
 '149703': 351,
 '1819741': 352,
 'Gramado, Brazil': 353,
 '1329920': 354,
 '17432': 355,
 '12695': 356,
 '34449': 357,
 '34436': 358,
 '5107034': 359,
 '8916': 360,
 'Hamburg, Germany': 361,
 '1638957': 362,
 'Singapore, Singapore': 363,
 '8599': 364,
 '891793': 365,
 '1391336': 366,
 '1512305': 367,
 '4497388': 368,
 '6542484': 369,
 '34410': 370,
 '2593763': 371,
 '8772': 372,
 '655716': 373,
 '1564425': 374,
 'Munich, Germany': 375,
 '4595210': 376,
 '1444737': 377,
 '3053490': 378,
 '478646': 379,
 '8518': 380,
 '2289832': 381,
 '1012041': 382,
 '3816128': 383,
 '1455521': 384,
 '104832': 385,
 '4359952': 386,
 '1031616': 387,
 '42875': 388,
 '4467826': 389,
 '5849628': 390,
 '8708': 391,
 '2595990': 392,
 '3133169': 393,
 '930069': 394,
 '104888': 395,
 '243971': 396,
 '106412': 397,
 '5015898': 398,
 '5708390': 399,
 '1380694': 400,
 '3145614': 401,
 '2128208': 402,
 '1001685': 403,
 '43030': 404,
 '1031614': 405,
 '1330207': 406,
 '8742': 407,
 '1941523': 408,
 '1668569': 409,
 'Beach': 410,
 'Istanbul, Turkey': 411,
 '104735': 412,
 '1012739': 413,
 '2681450': 414,
 '3136613': 415,
 '4342016': 416,
 '4454864': 417,
 '682866': 418,
 '9230': 419,
 '1450593': 420,
 '4507458': 421,
 '5213052': 422,
 '95794': 423,
 '2123744': 424,
 '1320938': 425,
 '682871': 426,
 '1948107': 427,
 '54803': 428,
 'Tokyo, Japan': 429,
 '2569642': 430,
 '2097974': 431,
 '2724794': 432,
 '1939525': 433,
 '1622741': 434,
 '4345728': 435,
 '9231': 436,
 '1472445': 437,
 '109339': 438,
 '111530': 439,
 '43118': 440,
 '8613': 441,
 '2634014': 442,
 '3809464': 443,
 '49685': 444,
 '34414': 445,
 '105703': 446,
 '1201176': 447,
 '5824314': 448,
 '2767604': 449,
 'Kuala Lumpur, Malaysia': 450,
 '348941': 451,
 '18388': 452,
 '674016': 453,
 '109320': 454,
 '1750769': 455,
 '478256': 456,
 '981929': 457,
 '3135390': 458,
 '3484138': 459,
 'Kyoto Station': 460,
 '1244990': 461,
 '4872138': 462,
 '1668489': 463,
 '1032838': 464,
 '370916': 465,
 '42149': 466,
 '512446': 467,
 '109360': 468,
 '42615': 469,
 '12260': 470,
 '1240081': 471,
 '3133288': 472,
 '3144968': 473,
 '1167758': 474,
 '1247493': 475,
 '109894': 476,
 '34346': 477,
 '1693297': 478,
 '511676': 479,
 '479326': 480,
 '1656477': 481,
 '34338': 482,
 '57049': 483,
 '1668651': 484,
 '2196250': 485,
 '894191': 486,
 '1241830': 487,
 '87943': 488,
 '5213814': 489,
 '349366': 490,
 '6623894': 491,
 '16404': 492,
 '97584': 493,
 '2145840': 494,
 '8830': 495,
 '5708658': 496,
 '104964': 497,
 '4701148': 498,
 '2165018': 499,
 '397981': 500,
 '34404': 501,
 '6171602': 502,
 '42485': 503,
 '8310': 504,
 '2705840': 505,
 '1496061': 506,
 '478246': 507,
 '397956': 508,
 '64558': 509,
 '178956': 510,
 '1005807': 511,
 '1555549': 512,
 '47101': 513,
 '104804': 514,
 '1235860': 515,
 '3050686': 516,
 '4004224': 517,
 '3244194': 518,
 '1216944': 519,
 '8788': 520,
 '8284': 521,
 '6902494': 522,
 '2106348': 523,
 '1501173': 524,
 '1244795': 525,
 '3835612': 526,
 '2862811': 527,
 '1083616': 528,
 '8204770': 529,
 'Lisbon, Portugal': 530,
 '42802': 531,
 '14082': 532,
 '2096198': 533,
 'Las Vegas Strip': 534,
 '44219': 535,
 '2580846': 536,
 '92313': 537,
 '1242485': 538,
 '1339918': 539,
 '1633547': 540,
 '152574': 541,
 '2684345': 542,
 '478656': 543,
 'Hong Kong, Hong Kong': 544,
 '2053269': 545,
 '684641': 546,
 '5493194': 547,
 '104558': 548,
 '7904': 549,
 '2123814': 550,
 '34471': 551,
 '1394012': 552,
 '1258232': 553,
 '2469404': 554,
 '46574': 555,
 '926625': 556,
 '2708547': 557,
 '104800': 558,
 '37711': 559,
 'Porto de Galinhas, Brazil': 560,
 '1550525': 561,
 '6538232': 562,
 '2062540': 563,
 '3248056': 564,
 '2201652': 565,
 '18422': 566,
 '3241542': 567,
 '80218': 568,
 '4241024': 569,
 '14795': 570,
 '16797': 571,
 '1247121': 572,
 '5059294': 573,
 '2432711': 574,
 'Tokyo Station': 575,
 '2034605': 576,
 'Arraial do Cabo, Brazil': 577,
 '4553004': 578,
 '1511043': 579,
 '348106': 580,
 'Puerto Vallarta, Mexico': 581,
 '8590': 582,
 '104828': 583,
 '8653': 584,
 '48507': 585,
 '3094482': 586,
 '1288434': 587,
 '120773': 588,
 '1647228': 589,
 '37746': 590,
 '96432': 591,
 '493336': 592,
 'Playa del Carmen, Mexico': 593,
 'Foz do Iguaçu, Brazil': 594,
 '5093438': 595,
 '4821216': 596,
 '7882948': 597,
 '6446': 598,
 'Jacuzzi (Hotel)': 599,
 '326726': 600,
 '52297': 601,
 '443796': 602,
 '1951623': 603,
 '5647680': 604,
 '80790': 605,
 '151812': 606,
 '314051': 607,
 '5196118': 608,
 '1668527': 609,
 '55137': 610,
 '1266491': 611,
 '929707': 612,
 '40726': 613,
 '109363': 614,
 '8578': 615,
 '100226': 616,
 '129571': 617,
 '10231574': 618,
 '117782': 619,
 '740601': 620,
 '2343438': 621,
 '713866': 622,
 '42498': 623,
 'Armação dos Búzios, Brazil': 624,
 '153359': 625,
 '98516': 626,
 '4093448': 627,
 '1754159': 628,
 '1708963': 629,
 '673981': 630,
 '84840': 631,
 '2775666': 632,
 '92077': 633,
 '1423358': 634,
 '478626': 635,
 'Fortaleza, Brazil': 636,
 '43181': 637,
 '14211': 638,
 '377921': 639,
 '100829': 640,
 '2273390': 641,
 '104710': 642,
 '2523886': 643,
 '478056': 644,
 '2252508': 645,
 '2491926': 646,
 '2322200': 647,
 '8816': 648,
 '12086': 649,
 '2296554': 650,
 '940414': 651,
 '44118': 652,
 '2195976': 653,
 '9500346': 654,
 '34430': 655,
 '10897954': 656,
 '1393172': 657,
 '42459': 658,
 '48099': 659,
 '473691': 660,
 '2595004': 661,
 '2145104': 662,
 '2027493': 663,
 '16247': 664,
 '106808': 665,
 '104811': 666,
 'Melbourne CBD': 667,
 '326801': 668,
 '82324': 669,
 '2783354': 670,
 '346866': 671,
 'Shinjuku Station': 672,
 '5032060': 673,
 '2707162': 674,
 '67383': 675,
 '2870052': 676,
 '385746': 677,
 '6655266': 678,
 'Edinburgh, United Kingdom': 679,
 '137078': 680,
 '970119': 681,
 'Porto Seguro, Brazil': 682,
 '35281': 683,
 '2164776': 684,
 '35268': 685,
 '127270': 686,
 '117449': 687,
 '100214': 688,
 '2039313': 689,
 '8602': 690,
 '103495': 691,
 '477811': 692,
 '32738': 693,
 '17056': 694,
 '478096': 695,
 '2184930': 696,
 '103600': 697,
 '187131': 698,
 '2793224': 699,
 'Dublin, Ireland': 700,
 '5004364': 701,
 '116046': 702,
 '8922': 703,
 '163254': 704,
 '1364388': 705,
 '46451': 706,
 '1223390': 707,
 '160894': 708,
 '107713': 709,
 '4995818': 710,
 '42194': 711,
 '1773721': 712,
 'Natal, Brazil': 713,
 'Acapulco, Mexico': 714,
 '68749': 715,
 'Osaka, Japan': 716,
 '511476': 717,
 '585331': 718,
 'San Francisco, USA': 719,
 '32697': 720,
 '1333392': 721,
 '2360940': 722,
 '43031': 723,
 '1492745': 724,
 '1650015': 725,
 '127781': 726,
 '95842': 727,
 '479161': 728,
 '34462': 729,
 '880913': 730,
 '478326': 731,
 '8268': 732,
 '397631': 733,
 '1206554': 734,
 '2352224': 735,
 '2671940': 736,
 '2772916': 737,
 '104592': 738,
 '12594': 739,
 '5965860': 740,
 '43775': 741,
 '34348': 742,
 '513656': 743,
 '437751': 744,
 '2705912': 745,
 '1394139': 746,
 '2250496': 747,
 '34358': 748,
 'Times Square': 749,
 '34460': 750,
 '104677': 751,
 '105733': 752,
 '3899110': 753,
 '94475': 754,
 '623276': 755,
 '1352538': 756,
 'Ubatuba, Brazil': 757,
 '417401': 758,
 '1846017': 759,
 '8733': 760,
 '43081': 761,
 '12693': 762,
 '4560426': 763,
 '1560261': 764,
 '326761': 765,
 '5049246': 766,
 '8648': 767,
 '1436082': 768,
 '4343390': 769,
 '104706': 770,
 '104929': 771,
 '1185474': 772,
 '1031624': 773,
 '5772': 774,
 '2791275': 775,
 '44902': 776,
 '3135186': 777,
 '3132652': 778,
 '2570000': 779,
 '100228': 780,
 '42955': 781,
 '3995834': 782,
 '59178': 783,
 '6868818': 784,
 '2833647': 785,
 '4485760': 786,
 '104838': 787,
 '817581': 788,
 '2862270': 789,
 '44386': 790,
 '42946': 791,
 '2086192': 792,
 '6623552': 793,
 '2925638': 794,
 '1289842': 795,
 '42613': 796,
 '2870048': 797,
 '1236111': 798,
 '1555573': 799,
 '2349076': 800,
 '479201': 801,
 '2628953': 802,
 '2553292': 803,
 '34300': 804,
 '3873584': 805,
 '13028': 806,
 '1024058': 807,
 '1488475': 808,
 '5497220': 809,
 '2158000': 810,
 '3136464': 811,
 '1956323': 812,
 '35283': 813,
 '10610638': 814,
 '2535386': 815,
 '7118816': 816,
 '80760': 817,
 '1942111': 818,
 '152438': 819,
 '3132117': 820,
 '2557474': 821,
 '4493756': 822,
 '8750': 823,
 '97694': 824,
 '103452': 825,
 '6451832': 826,
 '8276346': 827,
 '2567194': 828,
 '2867886': 829,
 '2396630': 830,
 '82332': 831,
 '690036': 832,
 '104912': 833,
 '53835': 834,
 '2037845': 835,
 '8543': 836,
 '478691': 837,
 '8791': 838,
 '4517004': 839,
 '1771279': 840,
 '6367640': 841,
 '1941491': 842,
 '1001561': 843,
 'Manchester, United Kingdom': 844,
 '2031683': 845,
 '1108295': 846,
 '3837120': 847,
 '8928': 848,
 '479246': 849,
 '1572815': 850,
 '599731': 851,
 '1232824': 852,
 'Salvador Bahia, Brazil': 853,
 '5980296': 854,
 '5141050': 855,
 '8628': 856,
 '104791': 857,
 '8925': 858,
 '2418418': 859,
 '43160': 860,
 '2392810': 861,
 '5900': 862,
 '1450581': 863,
 '1330564': 864,
 '2467696': 865,
 '2390970': 866,
 '4599632': 867,
 '477986': 868,
 '5070840': 869,
 '796931': 870,
 '1084344': 871,
 '61359': 872,
 '1244681': 873,
 '1668615': 874,
 '1816025': 875,
 '4387516': 876,
 '17793': 877,
 '53841': 878,
 '96851': 879,
 '8271': 880,
 '3812488': 881,
 '1852611': 882,
 '2418544': 883,
 '6235440': 884,
 '104774': 885,
 '1542729': 886,
 '1852101': 887,
 '128811': 888,
 '34509': 889,
 '68643': 890,
 '1670405': 891,
 '1776269': 892,
 '34357': 893,
 '37518': 894,
 'Antalya, Turkey': 895,
 '53876': 896,
 '4981186': 897,
 '883697': 898,
 '2026489': 899,
 '34550': 900,
 'Budapest, Hungary': 901,
 '103498': 902,
 '2179546': 903,
 '2807652': 904,
 '1162971': 905,
 '3492572': 906,
 '545706': 907,
 '38866': 908,
 '1693345': 909,
 '893927': 910,
 '131842': 911,
 '1046396': 912,
 '1054500': 913,
 '20712': 914,
 '2242038': 915,
 '4222628': 916,
 '1862179': 917,
 '4174444': 918,
 '127648': 919,
 '313616': 920,
 '1057566': 921,
 '2503570': 922,
 'Osaka Station': 923,
 'Los Angeles, USA': 924,
 '35747': 925,
 '1056384': 926,
 '1793925': 927,
 '7993': 928,
 '959381': 929,
 '68760': 930,
 '2632410': 931,
 '953803': 932,
 '2123930': 933,
 '900515': 934,
 '521336': 935,
 '2835834': 936,
 '1204582': 937,
 '106481': 938,
 'Swimming Pool (Indoor)': 939,
 '97419': 940,
 '55332': 941,
 '46262': 942,
 '6535552': 943,
 '17905': 944,
 '1689671': 945,
 '586771': 946,
 '2033381': 947,
 'Venice, Italy': 948,
 '5044184': 949,
 '1246784': 950,
 '2786274': 951,
 '1473745': 952,
 '5790460': 953,
 'Campos do Jordão, Brazil': 954,
 '1319616': 955,
 '519501': 956,
 '34559': 957,
 '478086': 958,
 '1076986': 959,
 '477831': 960,
 '1168972': 961,
 '8266': 962,
 '42356': 963,
 '92329': 964,
 '3414162': 965,
 '743636': 966,
 '104698': 967,
 '1834979': 968,
 '5808922': 969,
 '94860': 970,
 '67404': 971,
 '105009': 972,
 '2030883': 973,
 '42692': 974,
 '370256': 975,
 '1453997': 976,
 '3580366': 977,
 '429251': 978,
 'Port Dickson, Malaysia': 979,
 '47784': 980,
 '3504954': 981,
 '3120737': 982,
 '171567': 983,
 '522536': 984,
 '47672': 985,
 '1776243': 986,
 '1018282': 987,
 '2178006': 988,
 '2631584': 989,
 '106946': 990,
 '8825': 991,
 '2724977': 992,
 '2392526': 993,
 '1827211': 994,
 'Balneário Camboriú, Brazil': 995,
 '1963289': 996,
 '7670534': 997,
 '4155306': 998,
 '8792': 999,
 '5106518': 1000,
 ...}

# Reference is currently represented by dictionary ( Only step is unchanged)

In [34]:
df['step'] = df['step'].astype('str')
df['session_id'] = df['session_id'].apply(lambda x: get_newcode(x, encoded_session_dict))
df['action_type'] = df['action_type'].apply(lambda x: get_newcode(x, encoded_action_dict))
df['reference'] = df['reference'].apply(lambda x: get_newcode(x, encoded_ref_dict))
df['city'] = df['city'].apply(lambda x: get_newcode(x, encoded_city_dict))

In [35]:
print(df.shape)
df.head()

         session_id step  action_type  reference   city
0            254197    1           10     152611     31
1            254197    2            1      48578     31
2            254197    3            1      48578     31
3            254197    4            1      48578     31
4            254197    5            1       8573     31
5            254197    6            1      48578     31
6            254197    7            1       8573     31
7            254197    8            1      48578     31
8            254197    9            1       8573     31
9            254197   10            1       8573     31
10           254197   11            1       8573     31
11           254197   12            1       8573     31
12           254197   13            1       8573     31
13           254197   14            2       8573     31
14           254197   15           10     112746     31
15           254197   16            2      37430     31
16            65337    1            6       3153     48
17            65337    2            1       3153     48
18            65337    3            1       3153     48
19            65337    4            6       3153     48
20            65337    5            6      16361     48
21            65337    6            1      16361     48
22            65337    7            1      16361     48
23            65337    8            1      16361     48
24            65337    9            1      16361     48
25            65337   10            1      16361     48
26            65337   11            1      16361     48
27            65337   12            1      16361     48
28            65337   13            1      16361     48
29            65337   14            1      16361     48
...             ...  ...          ...        ...    ...
3782305        1717  454            1       4165     26
3782306        1717  455            1       4165     26
3782307        1717  456            1       4165     26
3782308        1717  457            1       4165     26
3782309        1717  458            1       4165     26
3782310        1717  459            1       4165     26
3782311        1717  460            1       4165     26
3782312        1717  461            1       4165     26
3782313        1717  462            1       4165     26
3782314        1717  463            1       4165     26
3782315        1717  464            2       4165     26
3782316        1717  465            2       3281     26
3782317        1717  466            2     434874     26
3782318      609418    1            5        636     35
3782319      609418    2            5        682     26
3782320      609418    3            9        122     26
3782321      609418    4            2        122     26
3782322      559721    1            5     100015   3200
3782323      559721    2            1     109260   3200
3782324      559721    3            1     109260   3200
3782325      559721    4            2     434874   3200
3782326      798231    1            5     331554  31464
3782327      798231    2            2     434874  31464
3782328      450886    1            6     265268    658
3782329      450886    2            1     115263    658
3782330      450886    3            1     115263    658
3782331      450886    4            2     115263    658
3782332      450886    5            1     115263    658
3782333      450886    6            2     434874    658
3782334     1145326    1            2     434874     64

[19715327 rows x 5 columns]

In [57]:
col_len_dict = {'session_id': len(encoded_session_dict), 'step': len(encoded_st_dict), 'action_type': len(encoded_action_dict), 'reference': len(encoded_ref_dict), 'city': len(encoded_city_dict)}
col_accum_index_dict = {}
cumulative = 0
for key, value in col_len_dict.items():
    col_accum_index_dict[key] = cumulative
    cumulative = cumulative + value

train_df, test_df = train_test_split(df, test_size=0.2)

In [59]:
txt_file = open('trainTXT.txt', 'w')
for idx, row in train_df.iterrows():
    vec = []
    label = row['action_type']
    vec.append(str(label))
    row = row.drop(labels=['action_type'])
    for key, value in row.items():
        if col_len_dict[key] == 1:
            if value != '0':
                col_idx = col_accum_index_dict[key]
                out_val = value
                vec.append(str(col_idx) + ":" + str(out_val))
        else:
            col_idx = col_accum_index_dict[key] + (int(value) - 1)
            out_val = 1
            vec.append(str(col_idx) + ":" + str(out_val))
    txt_file.write("%s\n" % " ".join(vec))
txt_file.close()

KeyboardInterrupt:

In [ ]:
txt_file = open('testTXT.txt', 'w')
for idx, row in test_df.iterrows():
    vec = []
    label = row['action_type']
    vec.append(str(label))
    row = row.drop(labels=['action_type'])
    for key, value in row.items():
        if col_len_dict[key] == 1:
            if value != '0':
                col_idx = col_accum_index_dict[key]
                out_val = value
                vec.append(str(col_idx) + ":" + str(out_val))
        else:
            col_idx = col_accum_index_dict[key] + (int(value) - 1)
            out_val = 1
            vec.append(str(col_idx) + ":" + str(out_val))
    txt_file.write("%s\n" % " ".join(vec))
txt_file.close()