In [91]:
import pandas as pd
import numpy as np

In [92]:
md = pd.read_csv("train.csv")

In [6]:
ac = pd.DataFrame(md.action_type)
poi = md[ac['action_type'] == "search for poi"]
des = md[ac['action_type'] == "search for destination"]
d = pd.concat([poi, des])

In [8]:
city = d["city"]

In [16]:
city_sp = city.str.split(',')

In [17]:
city_sp_ = city_sp.apply(lambda x : pd.Series(x))

In [25]:
city_sp_.columns = ['city', 'country', 'nan']

In [28]:
city_ = city_sp_.drop(["nan"], axis = 1)

In [50]:
city_

                      city                country
0                   Sydney              Australia
14                  Sydney              Australia
117                 London         United Kingdom
118                 London         United Kingdom
278                  Seoul            South Korea
281                  Seoul            South Korea
283                  Seoul            South Korea
284                  Seoul            South Korea
329              Hong Kong              Hong Kong
592                Toronto                 Canada
595             Charleston                    USA
811        Marne-la-Vallée                 France
861          St Petersburg                 Russia
872                Fukuoka                  Japan
882                 Sydney              Australia
901                  Milan                  Italy
908                  Milan                  Italy
909                 Assago                  Italy
1064             São Paulo                 Brazil
1155                 Tokyo                  Japan
1157                 Tokyo                  Japan
1177                Durban           South Africa
1617         São Sebastião                 Brazil
1622        Rio de Janeiro                 Brazil
1686            Copenhagen                Denmark
1875                 Tokyo                  Japan
1876                 Tokyo                  Japan
1916              Yokohama                  Japan
1918              Yokohama                  Japan
1965         Florianópolis                 Brazil
...                    ...                    ...
15932286            Buesum                Germany
15932289         Funabashi                  Japan
15932323     Visakhapatnam                  India
15932365  Playa del Carmen                 Mexico
15932425            Játiva                  Spain
15932458        Santa Cruz                  Chile
15932460          Santiago                  Chile
15932503             Dubai   United Arab Emirates
15932564             Dubai   United Arab Emirates
15932609        Formentera                  Spain
15932662           Pinamar              Argentina
15932663           Pinamar              Argentina
15932691     San Sebastián                  Spain
15932702             Jávea                  Spain
15932708          Mazatlán                 Mexico
15932709          Mazatlán                 Mexico
15932719     Murray Bridge              Australia
15932738          Adelaide              Australia
15932743          Adelaide              Australia
15932765          New York                    USA
15932804        Port Blair                  India
15932814         Amsterdam            Netherlands
15932824             Dubai   United Arab Emirates
15932872           Almeria                  Spain
15932924     San Francisco                    USA
15932925         San Diego                    USA
15932939          Bordeaux                 France
15932967          New York                    USA
15932971             Natal                 Brazil
15932973             Paris                 France

[540510 rows x 2 columns]

In [58]:
city_country = city_["country"]

In [59]:
city_country

0                       Australia
14                      Australia
117                United Kingdom
118                United Kingdom
278                   South Korea
281                   South Korea
283                   South Korea
284                   South Korea
329                     Hong Kong
592                        Canada
595                           USA
811                        France
861                        Russia
872                         Japan
882                     Australia
901                         Italy
908                         Italy
909                         Italy
1064                       Brazil
1155                        Japan
1157                        Japan
1177                 South Africa
1617                       Brazil
1622                       Brazil
1686                      Denmark
1875                        Japan
1876                        Japan
1916                        Japan
1918                        Japan
1965                       Brazil
                    ...
15932286                  Germany
15932289                    Japan
15932323                    India
15932365                   Mexico
15932425                    Spain
15932458                    Chile
15932460                    Chile
15932503     United Arab Emirates
15932564     United Arab Emirates
15932609                    Spain
15932662                Argentina
15932663                Argentina
15932691                    Spain
15932702                    Spain
15932708                   Mexico
15932709                   Mexico
15932719                Australia
15932738                Australia
15932743                Australia
15932765                      USA
15932804                    India
15932814              Netherlands
15932824     United Arab Emirates
15932872                    Spain
15932924                      USA
15932925                      USA
15932939                   France
15932967                      USA
15932971                   Brazil
15932973                   France
Name: country, Length: 540510, dtype: object

In [30]:
ref = d["reference"]

In [31]:
ref_sp = ref.str.split(',')

In [32]:
ref_sp_ = ref_sp.apply(lambda x : pd.Series(x))

In [36]:
ref_sp_.columns = ['landmark', 'country', 'nan']

In [46]:
ref_ = ref_sp_.drop(["nan"], axis = 1)

In [60]:
ref_region = ref_[~ref_["country"].isnull()]

In [103]:
ref_region

                   landmark                                            country
4855926       Macka Culture                           Tourism and Art Festival
6639403             Antique   Collectors 20th Century Art Deco Fair at Alex...
7177098   37th Annual Hotel   Motel and Restaurant Supply Show of the South...
8464738   37th Annual Hotel   Motel and Restaurant Supply Show of the South...
8528845   37th Annual Hotel   Motel and Restaurant Supply Show of the South...
9842111             Antique   Collectors 20th Century Art Deco Fair at Alex...
9842112             Antique   Collectors 20th Century Art Deco Fair at Alex...
14698423            Hot Tub                                Pool & Leisure Expo
14836223            Hot Tub                                Pool & Leisure Expo
116                  London                                     United Kingdom
123             Bakersfield                                                USA
124             Bakersfield                                                USA
231             Panama City                                             Panama
238                  Centre                                                USA
256               São Paulo                                             Brazil
257               São Paulo                                             Brazil
493                   Tioga                                                USA
559                  Púchov                                           Slovakia
560                  Púchov                                           Slovakia
563                   Pucón                                              Chile
565                Valdivia                                              Chile
570                 Toronto                                             Canada
594              Charleston                                                USA
600         Mühldorf am Inn                                            Germany
601         Mühldorf am Inn                                            Germany
630         Charlottesville                                                USA
859           St Petersburg                                             Russia
863           St Petersburg                                             Russia
878       Derry-Londonderry                                     United Kingdom
879       Derry-Londonderry                                     United Kingdom
...                     ...                                                ...
15932286             Buesum                                            Germany
15932289          Funabashi                                              Japan
15932323      Visakhapatnam                                              India
15932365   Playa del Carmen                                             Mexico
15932425             Játiva                                              Spain
15932458         Santa Cruz                                              Chile
15932460           Santiago                                              Chile
15932503              Dubai                               United Arab Emirates
15932564              Dubai                               United Arab Emirates
15932609         Formentera                                              Spain
15932662            Pinamar                                          Argentina
15932663            Pinamar                                          Argentina
15932691      San Sebastián                                              Spain
15932702              Jávea                                              Spain
15932708           Mazatlán                                             Mexico
15932709           Mazatlán                                             Mexico
15932719      Murray Bridge                                          Australia
15932738           Adelaide                                          Australia
15932743           Adelaide                                          Australia
15932765           New York                                                USA
15932804         Port Blair                                              India
15932814          Amsterdam                                        Netherlands
15932824              Dubai                               United Arab Emirates
15932872            Almeria                                              Spain
15932924      San Francisco                                                USA
15932925          San Diego                                                USA
15932939           Bordeaux                                             France
15932967           New York                                                USA
15932971              Natal                                             Brazil
15932973              Paris                                             France

[403075 rows x 2 columns]

In [61]:
ref_country = ref_region["country"]

In [85]:
region = pd.concat([city_country, ref_region],axis = 1)
region.columns = ["city_country", "ref_landmark","ref_country"]

In [86]:
region

                   city_country     ref_landmark            ref_country
0                     Australia              NaN                    NaN
14                    Australia              NaN                    NaN
116              United Kingdom           London         United Kingdom
117              United Kingdom              NaN                    NaN
118              United Kingdom              NaN                    NaN
123                         USA      Bakersfield                    USA
124                         USA      Bakersfield                    USA
231                      Panama      Panama City                 Panama
238                         USA           Centre                    USA
256                      Brazil        São Paulo                 Brazil
257                      Brazil        São Paulo                 Brazil
278                 South Korea              NaN                    NaN
281                 South Korea              NaN                    NaN
283                 South Korea              NaN                    NaN
284                 South Korea              NaN                    NaN
329                   Hong Kong              NaN                    NaN
493                         USA            Tioga                    USA
559                    Slovakia           Púchov               Slovakia
560                    Slovakia           Púchov               Slovakia
563                       Chile            Pucón                  Chile
565                       Chile         Valdivia                  Chile
570                      Canada          Toronto                 Canada
592                      Canada              NaN                    NaN
594                         USA       Charleston                    USA
595                         USA              NaN                    NaN
600                     Germany  Mühldorf am Inn                Germany
601                     Germany  Mühldorf am Inn                Germany
630                         USA  Charlottesville                    USA
811                      France              NaN                    NaN
859                      Russia    St Petersburg                 Russia
...                         ...              ...                    ...
15932460                  Chile         Santiago                  Chile
15932503   United Arab Emirates            Dubai   United Arab Emirates
15932564   United Arab Emirates            Dubai   United Arab Emirates
15932609                  Spain       Formentera                  Spain
15932662              Argentina          Pinamar              Argentina
15932663              Argentina          Pinamar              Argentina
15932683                  Italy              NaN                    NaN
15932691                  Spain    San Sebastián                  Spain
15932702                  Spain            Jávea                  Spain
15932708                 Mexico         Mazatlán                 Mexico
15932709                 Mexico         Mazatlán                 Mexico
15932719              Australia    Murray Bridge              Australia
15932725              Australia              NaN                    NaN
15932738              Australia         Adelaide              Australia
15932743              Australia         Adelaide              Australia
15932765                    USA         New York                    USA
15932766                    USA              NaN                    NaN
15932804                  India       Port Blair                  India
15932812                Germany              NaN                    NaN
15932814            Netherlands        Amsterdam            Netherlands
15932819            Netherlands              NaN                    NaN
15932824   United Arab Emirates            Dubai   United Arab Emirates
15932872                  Spain          Almeria                  Spain
15932924                    USA    San Francisco                    USA
15932925                    USA        San Diego                    USA
15932939                 France         Bordeaux                 France
15932940                 France              NaN                    NaN
15932967                    USA         New York                    USA
15932971                 Brazil            Natal                 Brazil
15932973                 France            Paris                 France

[540510 rows x 3 columns]

In [87]:
region = region[~region["ref_country"].isnull()]

In [88]:
region

                   city_country       ref_landmark            ref_country
116              United Kingdom             London         United Kingdom
123                         USA        Bakersfield                    USA
124                         USA        Bakersfield                    USA
231                      Panama        Panama City                 Panama
238                         USA             Centre                    USA
256                      Brazil          São Paulo                 Brazil
257                      Brazil          São Paulo                 Brazil
493                         USA              Tioga                    USA
559                    Slovakia             Púchov               Slovakia
560                    Slovakia             Púchov               Slovakia
563                       Chile              Pucón                  Chile
565                       Chile           Valdivia                  Chile
570                      Canada            Toronto                 Canada
594                         USA         Charleston                    USA
600                     Germany    Mühldorf am Inn                Germany
601                     Germany    Mühldorf am Inn                Germany
630                         USA    Charlottesville                    USA
859                      Russia      St Petersburg                 Russia
863                      Russia      St Petersburg                 Russia
878              United Kingdom  Derry-Londonderry         United Kingdom
879              United Kingdom  Derry-Londonderry         United Kingdom
926                     Germany            Hamburg                Germany
993                      Canada            Toronto                 Canada
1012                        USA          Green Bay                    USA
1073                      India           Lonavala                  India
1085                  Lithuania            Vilnius              Lithuania
1176               South Africa           Pretoria           South Africa
1193                      India         Ahmednagar                  India
1618                     Brazil            Ubatuba                 Brazil
1619                     Brazil           Ilhabela                 Brazil
...                         ...                ...                    ...
15932286                Germany             Buesum                Germany
15932289                  Japan          Funabashi                  Japan
15932323                  India      Visakhapatnam                  India
15932365                 Mexico   Playa del Carmen                 Mexico
15932425                  Spain             Játiva                  Spain
15932458                  Chile         Santa Cruz                  Chile
15932460                  Chile           Santiago                  Chile
15932503   United Arab Emirates              Dubai   United Arab Emirates
15932564   United Arab Emirates              Dubai   United Arab Emirates
15932609                  Spain         Formentera                  Spain
15932662              Argentina            Pinamar              Argentina
15932663              Argentina            Pinamar              Argentina
15932691                  Spain      San Sebastián                  Spain
15932702                  Spain              Jávea                  Spain
15932708                 Mexico           Mazatlán                 Mexico
15932709                 Mexico           Mazatlán                 Mexico
15932719              Australia      Murray Bridge              Australia
15932738              Australia           Adelaide              Australia
15932743              Australia           Adelaide              Australia
15932765                    USA           New York                    USA
15932804                  India         Port Blair                  India
15932814            Netherlands          Amsterdam            Netherlands
15932824   United Arab Emirates              Dubai   United Arab Emirates
15932872                  Spain            Almeria                  Spain
15932924                    USA      San Francisco                    USA
15932925                    USA          San Diego                    USA
15932939                 France           Bordeaux                 France
15932967                    USA           New York                    USA
15932971                 Brazil              Natal                 Brazil
15932973                 France              Paris                 France

[403075 rows x 3 columns]

In [89]:
region_eq = region[region["city_country"] == region["ref_country"]]

In [95]:
region_eq.shape

(403066, 3)

In [97]:
reg_uniq, reg_c = np.unique(region_eq["ref_landmark"], return_counts = True)

In [100]:
reg_uniq = np.reshape(reg_uniq, [reg_uniq.shape[0],1])
reg_c = np.reshape(reg_c, [reg_c.shape[0],1])
reg_ = np.concatenate((reg_uniq, reg_c), axis = 1)
reg_

array([["'s-Heerenberg", 2],
       ["'s-Hertogenbosch", 5],
       ['100 Mile House', 3],
       ...,
       ['Žilina', 14],
       ['Șimian', 1],
       ['Κato Platres - Pano Platres', 1]], dtype=object)

In [101]:
reg = pd.DataFrame(reg_, columns = ["reg_uniq", "reg_c"])

In [104]:
reg = reg.sort_values(by = ["reg_c"], ascending = False)
reg__ = reg[reg["reg_c"]>1]

In [105]:
reg__

                    reg_uniq reg_c
10899                 London  6519
14367                  Paris  4874
13227               New York  4667
590                Amsterdam  3612
10364              Las Vegas  2960
2046                  Berlin  2777
1601               Barcelona  2692
16285                   Rome  2621
3358                  Cancun  2460
18952              São Paulo  2357
5457                   Dubai  2300
15364                 Prague  2257
11244                 Madrid  2204
13961                Orlando  2167
12033            Miami Beach  1944
6323           Florianópolis  1805
16148         Rio de Janeiro  1732
20593                 Vienna  1719
2900            Buenos Aires  1627
11338                Malacca  1590
1545                 Bangkok  1579
12088                  Milan  1572
7120                 Gramado  1565
7598                 Hamburg  1548
18003              Singapore  1531
12724                 Munich  1499
8614                Istanbul  1404
19604                  Tokyo  1380
9819            Kuala Lumpur  1362
10770                 Lisbon  1330
...                      ...   ...
13112          Neos Marmaras     2
17722  Serranillos del Valle     2
15576                 Pulawy     2
17721     Serra de São Bento     2
13117          Neptune Beach     2
17928      Sierra Engarcerán     2
14257      Palomares del Río     2
17815               Shenyang     2
21495           Woodhall Spa     2
20419                  Vasia     2
13063         Nazareth Illit     2
13061                 Nayoro     2
20441      Vega de San Mateo     2
15513          Puerto Calero     2
20444                 Veghel     2
20920            Völkermarkt     2
21500              Woodville     2
15497        Puente Nacional     2
17890            Shtormovoye     2
15496          Pueblo Tapado     2
21094                Wattwil     2
15463          Prudentópolis     2
17953                 Silang     2
20411                   Vars     2
15464               Prulláns     2
17950                  Siirt     2
17937           Siglufjörður     2
14268          Pan de Azúcar     2
13024           Natchitoches     2
15467            Pryor Creek     2

[14144 rows x 2 columns]